<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700,800'
          rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'onlinetest/css/style1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'onlinetest/css/imagehover.min.css' %}" type="text/css"/>
    <style>
        .custab {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span>hack</span>IDEA</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>

                <li class="btn-trial"><a href="/">It's Free </a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br><br>
<br>
<div class="container">

    <a href="../clientlogout" class="btn btn-success btn-lg" style="float: right">Logout</a>
    <p>
    </p>
</div>
<br/>
<form class="form col-md-12 center-block" method="POST" action="{% url 'onlinetest:submitidea' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="title" placeholder="title" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="description" placeholder="Description starts here....">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="link" placeholder="link of presentation, pdf, etc (optional)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="prototype_link" placeholder="link of your prototype (optional)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="tag" placeholder="Add Tags">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="public" placeholder="public or not">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">ADD IT</button>
                        
                    </div>
                </form>
<br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br>
<center>
    <footer id="footer" class="footer">
        <br> ©2017 Open Source. All rights exploited
        <div class="credits">
            Designed and Developed for <a href="/"><b> HackIDEA</b></a><br>
            <br>
            <br>
        </div>
        </div>
    </footer>
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" Async></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" Async
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>
