<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700,800'
          rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'onlinetest/css/style1.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'onlinetest/css/imagehover.min.css' %}" type="text/css"/>
    <style>
        .custab {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span>hack</span>IDEA</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>

                <li class="btn-trial"><a href="/">It's Free </a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br><br>
<br>
<div class="container">

    <a href="../clientlogout" class="btn btn-success btn-lg" style="float: right">Logout</a>
    <p>
    </p>
</div>
<br/>
<form class="form col-md-12 center-block" method="POST" action="{% url 'onlinetest:viewidea' %}">
<center><input type="submit" class="btn btn-danger" value="View My IDEAS"></center>
<input type="text" value="1" name="my" hidden>
<br>
{% csrf_token %}
</form>            
<center>
    <div class="custyle" style="width: 70%;align-content: center">
        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>Idea</th>
                <th>Description</th>
                <th>Link</th>
                <th>Prototype Link</th>
                <th>Tags</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            {% for tabledata in tabledata %}
                <tr>
                    <td>{{ tabledata.title }}</td>
                    <td>{{ tabledata.description }}</td>
                    <td><a href="{{ tabledata.link }}">{{ tabledata.link }}</a></td>
                    <td><a href="https://{{ tabledata.prototype_link }}">{{ tabledata.prototype_link }}</a></td>
                    <td>{{ tabledata.tag }}</td>
                    <td>{{ tabledata.user }}</td>
                    <td>
                        {% if user == tabledata.user %} 

                            <button  class="btn btn-danger" onclick='var google_q = "{{ tabledata.tag }}";
    var angelco_q = "{{ tabledata.tag }}";
    var google_str = google_q.replace(",", "+");
    var angelco_str = yoyo(angelco_q);yeye(google_str, angelco_str);'>Validate Idea</button>`
                        {% else %}
                            <form class="form col-md-12 center-block" method="POST" action="{% url 'onlinetest:submitfeedback' %}">
                            <center><input type="text" name="feedback" placeholder="give feedback"></center>
                            <center><input type="submit" class="btn btn-danger" value="post"></center>
                               <input type="text" name="title" value="{{ tabledata.title }}" hidden>
                            <input type="text" value="1" hidden>
                            <br>
                            {% csrf_token %}
                            </form>            
                            
                        {% endif %}
                    </td>
                </tr>
                
            {% endfor %}
            </tbody>
        </table>
    </div>
</center>


<center>
    <footer id="footer" class="footer">
        <br> ©2017 Open Source. All rights exploited
        <div class="credits">
            Designed and Developed for <a href="/"><b> HackIDEA</b></a><br>
            <br>
            <br>
        </div>
        </div>
    </footer>
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" Async></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" Async
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>

function yeye(google_str, angelco_str)
{ 
    window.open('https://www.google.co.in/#q=startups+related+to+' + google_str,'','width=700,height=700'); 
    window.open('https://angel.co/companies?keywords[]=' + angelco_str,'','width=700,height=700');
}
function yoyo(stri)
{


return stri.replace(",", "&keywords[]=");
}
</script>

</body>

</html>
